docker.enabled = true

params {
  manifest       = "${projectDir}/examples/samples.csv"
  outdir         = "/home/pr422/RDS/live/Users/Parisa/demux_out"   // change if you want
  doublet_prior  = 0.10
  field          = 'GT'    // GT for hard-called genotypes
  tag_group      = 'CB'    // 10x cell barcode tag
  tag_umi        = 'UB'    // 10x UMI tag (use 'UR' if your BAM uses UR)
}

process {
  executor = 'local'
  errorStrategy = 'retry'
  maxRetries = 1

  withName: 'HARMONIZE' {
    container = 'parisa/genotype:2.6'
    cpus = 2; memory = '4 GB'
    publishDir = "${params.outdir}/harmonized_vcfs", mode: 'copy'
  }

  withName: 'PILEUP' {
    container = 'parisa/demux:2.1'
    cpus = 4; memory = '12 GB'
    publishDir = "${params.outdir}/pileups", mode: 'copy'
  }

  withName: 'DEMUXLET' {
    container = 'parisa/demux:2.1'
    cpus = 4; memory = '12 GB'
    publishDir = "${params.outdir}/demuxlet", mode: 'copy'
  }

  withName: 'QC' {
    container = 'parisa/demux:2.1'
    cpus = 1; memory = '1 GB'
    publishDir = "${params.outdir}/qc", mode: 'copy'
  }
}
