params {
  outdir        = "${baseDir}/results"
  samples       = "${baseDir}/examples/samples.csv"

  // demuxlet knobs
  field         = 'GT'
  doublet_prior = 0.10

  // VCF cleaning choices
  //   vcf_filter: 'biallelic_poly' (N_ALT=1 & AC>0)  or  'biallelic_all' (N_ALT=1 only)
  vcf_filter    = 'biallelic_poly'
  pileup_vcf    = 'clean'   // 'clean' or 'af'
  demux_vcf     = 'clean'   // 'clean' or 'af'

  // Containers
  demux_image    = 'parisa/demux:2.1'
  genotype_image = 'parisa/genotype:2.6'
}

process {
  executor = 'local'
  errorStrategy = 'terminate'

  withName: harmonize_vcf_bam {
    container = params.genotype_image
    cpus = 2
    memory = '8 GB'
  }
  withName: dsc_pileup {
    container = params.demux_image
    cpus = 8
    memory = '32 GB'
  }
  withName: run_demuxlet {
    container = params.demux_image
    cpus = 8
    memory = '32 GB'
  }
  withName: qc_demuxlet {
    container = params.demux_image
    cpus = 1
    memory = '2 GB'
  }
}

docker.enabled = true
